

p:hover {   
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: #8ac007;
 } 

 h5:hover{
  font-weight: bold;
  color:#dcf1a9;
 }
 h1:hover{
  font-weight: bold;
  color:#dcf1a9;
 }

 dt:hover{
   font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: #dcf1a9;}

 dd:hover{
   font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: #dcf1a9;
}
 
ul:hover{
  font-weight: bold;
  color:#dcf1a9;
}

  

.titulo{

  color:white;
  font-style: italic;
  background:#0A5460;
  width: auto;
  padding: 20px;
  margin-left: auto;
  

}

.tabla {
  margin-left:380px;
  font-size: medium;
  font-style: normal;
  text-align: center;
  background :#73BECC;
  
}

.ListaPalabras{
  color:white;
  background:#0A5460;
  width: auto;
  height: 10px;
  margin: 20px;    
  padding:100px;
}


.caja {
  padding: 20px;
  color: #fff;
  padding-bottom: auto;
  position: relative;
  border-radius: 4px;
  background:#0A5460;
}


.cuestionario{
  padding: 50px;
 color: #fff;
 padding-bottom: auto;
 position: relative;
 border-radius: 4px;
 background:#078396;
}
.bannerInicio{
  width: 400px;

}
.nav-link{
  color: #fff;
}

.letras{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 16px;
 color:white;
}

hr {
 
  border-color:black;
  
}



body {
 
 /*background-image:url(" https://cdn.pixabay.com/photo/2017/07/25/11/44/crumpled-2537807_1280.jpg");*/
 background-image:url("https://image.freepik.com/vector-gratis/fondo-abstracto-blanco-estilo-papel-3d_23-2148390818.jpg");
    
    background-color: transparent;
    background-size: auto;
   


    
}


