

.titulo{
  text-align: center;
  color:white;
  font-style: italic;
  background:#0A5460;
  width: auto;
  padding: 20px;
  margin-left: auto;
  

}
.tabla {
  margin-left:380px;
  font-size: medium;
  font-style: normal;
  text-align: center;
  background :#73BECC;
  
}

.ListaPalabras{
  color:white;
  background:#0A5460;
  width: auto;
  height: 30px;
  margin: 20px;    
  padding:100px;
  
}

body {
    background-color:white;
    
  }


